.main-container {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.count,
.message {
  color: #ffffff;
  z-index: 100;
  font-size: 80px;
}

.count {
  font-family: "Exo", sans-serif;
  animation: scale 0.5s;
  transform: scale(4);
}

.message {
  animation: scale1 1s;
  transform: scale(2);
  font-family: "Style Script", cursive;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(4);
  }
}

@keyframes scale1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

canvas {
  background-color: #000000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}

/* .message {
  font-size: 80px;
  animation: scale1 1s;
}

@keyframes scale1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
} */
